@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,600,700,800,900&display=swap');

ion-content ion-toolbar {
  --background: #121212;
}

div.container-title {
  background-color: #121212;
}

div.hr {
  background: rgb(180,0,43);
  background: linear-gradient(90deg, rgba(180,0,43,1) 0%, rgba(154,4,28,1) 30%, rgba(121,9,9,1) 69%, rgba(255,0,0,1) 100%);
  height: 7px;
}

div.container-title>div:nth-child(2) {
  border-radius: 50%;
background: #161616;
box-shadow:  20px 20px 40px #131313, 
             -20px -20px 40px #191919;
  height: 80vw;
  width: 80vw;
  margin-left: 10vw;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

div.container-title>div>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: cyan;
  height: 70vw;
  width: 70vw;
  border-radius: 50%;
  background: rgba(184,0,43,1);
  background: -moz-linear-gradient(left, rgba(184,0,43,1) 0%, rgba(121,1,27,1) 44%, rgba(92,0,20,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(184,0,43,1)), color-stop(44%, rgba(121,1,27,1)), color-stop(100%, rgba(92,0,20,1)));
  background: -webkit-linear-gradient(left, rgba(184,0,43,1) 0%, rgba(121,1,27,1) 44%, rgba(92,0,20,1) 100%);
  background: -o-linear-gradient(left, rgba(184,0,43,1) 0%, rgba(121,1,27,1) 44%, rgba(92,0,20,1) 100%);
  background: -ms-linear-gradient(left, rgba(184,0,43,1) 0%, rgba(121,1,27,1) 44%, rgba(92,0,20,1) 100%);
  background: linear-gradient(to right, rgba(184,0,43,1) 0%, rgba(121,1,27,1) 44%, rgba(92,0,20,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8002b', endColorstr='#5c0014', GradientType=1 );
}

div.container-title>div>div>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #121212;
  height: 66vw;
  width: 66vw;
  border-radius: 50%;
}

div.container-title>div>div>div>h1 {
  font-size: 4em;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  background: rgba(184,0,43,1);
  background: -moz-linear-gradient(left, rgba(184,0,43,1) 0%, rgba(121,1,27,1) 44%, rgba(92,0,20,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(184,0,43,1)), color-stop(44%, rgba(121,1,27,1)), color-stop(100%, rgba(92,0,20,1)));
  background: -webkit-linear-gradient(left, rgba(184,0,43,1) 0%, rgba(121,1,27,1) 44%, rgba(92,0,20,1) 100%);
  background: -o-linear-gradient(left, rgba(184,0,43,1) 0%, rgba(121,1,27,1) 44%, rgba(92,0,20,1) 100%);
  background: -ms-linear-gradient(left, rgba(184,0,43,1) 0%, rgba(121,1,27,1) 44%, rgba(92,0,20,1) 100%);
  background: linear-gradient(to right, rgba(184,0,43,1) 0%, rgba(121,1,27,1) 44%, rgba(92,0,20,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8002b', endColorstr='#5c0014', GradientType=1 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

div.container-title>div>div>div>p {
  color: rgb(187, 187, 187);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

div.container-card>div {
  height: 20vw;
  width: 80vw;
  margin-left: 10vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

div.container-card>div>h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color : rgb(117, 116, 116);
  text-align: center;
  font-size: 18px;
}

div.container-button>div {
  height: 30vw;
  width: 80vw;
  margin-left: 10vw;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

div.container-button>div div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.container-button>div div a {
  border-radius: 50%;
  background: #b8002b;
  box-shadow: inset 24px 24px 28px #900022, 
              inset -24px -24px 28px #e00034;
  height: 75px;
  width: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  color : white;
  text-decoration: none;
  transition: all .25s ease-in;
}

div.container-button>div div a:hover {
  border-radius: 50%;
  background: #b8002b;
  box-shadow: inset -24px -24px 28px #900022, 
              inset 24px 24px 28px #e00034;
  height: 75px;
  width: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  color : white;
  text-decoration: none;
}

div.container-button>div p {
  color: rgb(187, 187, 187);
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 14px;
}

div.container-api>div>h3 {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: rgb(187, 187, 187);
}

div.container-global-data {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100vw;
}

div.container-global-data>div {
  width: 45vw;
  border-radius: 10px;
  background: #161616;
  box-shadow:  3px 3px 6px #0b0b0b, 
              -3px -3px 6px #212121;
  margin-top: 20px;
}

div.container-global-data>div>h3 {
  margin-left: 10px;
  color: #b8002b;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

div.container-global-data>div>p {
  margin-left: 10px;
  color: rgb(187, 187, 187);
  font-size: 14px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

div.container-global-data>div>p>span {
  margin-left: 10px;
  color: rgb(187, 187, 187);
  font-size: 14px;
  font-weight: 900;
  font-family: 'Poppins', sans-serif;
}

div.container-local-data {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100vw;
}

div.container-local-data>div {
  width: 80vw;
  border-radius: 10px;
  background: #161616;
  box-shadow:  3px 3px 6px #0b0b0b, 
              -3px -3px 6px #212121;
  margin-top: 20px;
}

div.container-local-data>div>h3 {
  margin-left: 30px;
  color: #b8002b;
  font-size: 32px;
  font-family: 'Poppins', sans-serif;
}

div.container-local-data>div>p {
  margin-left: 30px;
  color: rgb(187, 187, 187);
  font-size: 20px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

div.container-local-data>div>p>span {
  margin-left: 20px;
  color: rgb(187, 187, 187);
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}